

<table data-toggle="table"
       data-pagination="true"
       data-url="{% url 'profile_trip_api' 'json' %}"
       data-side-pagination="server"
       data-search="false"
       data-page-number="1">
    <thead>
    <tr>
        <th data-field="name" data-sortable="true">Name</th>
        <th data-field="start_dt" data-sortable="true">Start Time</th>
        <th data-field="arrive_dt" data-sortable="true">Arrival Time</th>
        <th data-field="return_dt" data-sortable="true">Return Time</th>
        <th data-field="open" data-sortable="true" data-width="50">Trip Status</th>
    </tr>
    </thead>

</table>