<p>
Dear {{ username }},<br/><br/>

Thank you for creating your {{ trip.name }} trip on <strong>planIt!</strong> Welcome to our community. The next step is accepting other users to your trip.<br/><br/>

For anyone to join your trip, you have to accept their request to join.<br/>
Here is how you can accept their request:<br/><br/>
•	Log in to your account<br/>
•	Click on "My Profile" and then "View my profile"<br/>
•	Select “My Trips”<br/>
•	Click on the trip you've created<br/>
•	Select "edit trip" and click on "travelers"<br/><br/>
Here you'll see all the travelers that have requested to join the trip and that are already a part of your trip. You can choose to "approve" the person to go along with you, or not. It's up to you.<br/><br/>

If you have any questions, please email us at help@yallplanit.com<br/><br/>

We are working on making this experience seamless everyday. Thanks again for being a part of planIt!<br/><br/>

planIt team<br/><br/>

yallplanit.com<br/>
collect moments. not things.
</p>