{% extends 'base.html' %}
{% load staticfiles %}

{% block main-container %}
<div class="container">
	<div class="row col-md-6">
		<h1>About Us</h1>
		<p class="lead">Our story begins with a TCU student wanting to go to Austin one summer, but since most of his friends were home, he couldn't find anyone to go with. He then came across many people who had the same problem - either they could NOT find people to go with, or the traveling cost was too high.<br/><br/>
			WE DEVELOPED planIt to solve that problem with the help of TCU Idea Factory to help students around the campus.<br/><br/>
			WE ARE a community for people to plan, discover, and join trips around the world — online or from a mobile phone or tablet.
			<br/><br/>
		Whether for a music concert of your favorite band, a weekend getaway in Austin, an away College Football game, or a wild Spring Break, planIt connects people to unique travel experiences by helping them safely reach from point A to B, along with minimizing their traveling costs by allowing them to share it with others. And with world-class customer service and a growing community of users, planIt is the easiest and safest way for people to travel and fulfill their dreams while meeting amazing people.<br/><br/>
		<strong>planIt - collect moments. not things.</strong></p>
	</div>
	<div class="row col-md-6">
		<img src="{% static 'images/logo.jpg' %}">
	</div>
</div>

{% endblock %}

