{% extends 'base.html' %}
{% load staticfiles %}
{% block main-container %}
<div class="container" style="">
	<div class="row">
		<div class="col-md-12">
			
			<h2 class="heading-block center">We are giving away free tickets!</h2>
		</div>
		<div class="col-md-8 col-md-offset-2 center">
			<p class="lead">TCU is taking on Oklahoma Sooners and at planIt, we are providing an opportunity to our horned frog family to win FREE TICKETS to the game!</p>
		</div>
		<div class="col-md-8">
			<br/><h3>How can you win a ticket?</h3>
		</div>
		<div class="col-md-8">
			<p class="lead">We are giving away free tickets to the game to TCU students. Winners will be randomly selected from the first 10 people to CREATE or JOIN a trip to the game.<br/><br/>
			1.	<strong>Create a trip.</strong> How can you create a trip? Just <a href="http://yallplanit.com/accounts/signup.html">create an account</a> and <a href="http://yallplanit.com/trips/plan.html">click here.</a><br/><br/>
			2.	<strong>Join a trip.</strong> How can you join a trip? Click <a href="http://yallplanit.com/trips/all.html ">here</a>.<br/><br/>
			If you are not sure what we mean by CREATE or JOIN a trip, here are some <a href="http://yallplanit.com/getting-around/ ">quick tips</a> to get started.<br/><br/>
			<strong>What you need to know:</strong><br/><br/>
			•	To create or join a trip you have to be a currently enrolled student at TCU<br/>
			•	You have to register to be able to create or join a trip<br/>
			•	The winners will be announced on November 18th and will be contacted via email<br/>
			•	We advise you to read our <a href="http://yallplanit.com/privacy-policy/">Privacy Policy</a>, <a href="http://yallplanit.com/terms-of-use/">Terms of Use</a> &amp; <a href="http://yallplanit.com/safety-tips/">Safety Tips</a> before you register<br/><br/>
			If you have any questions, please email us at <strong>help@yallplanit.com</strong> or reach out to us on our social networks mentioned below.<br/><br/>
			<strong>planIt - collect moments. not things.</strong>

			</p>
		</div>

	</div>
	<div class="row">
		<div class="col-md-12 col-md-offset-5 col-xs-12 col-xs-offset-3">
			<a href="https://www.facebook.com/yallplanit/" target="_blank" class="social-icon si-rounded si-colored si-facebook">
			    <i class="icon-facebook"></i>
			    <i class="icon-facebook"></i>
			</a>
			<a href="https://www.instagram.com/yallplanit/" target="_blank" class="social-icon si-rounded si-colored si-instagram">
			    <i class="icon-instagram"></i>
			    <i class="icon-instagram"></i>
			</a>
			<a href="https://www.pinterest.com/yallplanit/" target="_blank" class="social-icon si-rounded si-colored si-pinterest">
			    <i class="icon-pinterest"></i>
			    <i class="icon-pinterest"></i>
			</a>
		</div>
	</div>

</div>

{% endblock %}