
{% block header %}
<!-- Header
        ============================================= -->
        <header id="header" class="full-header transparent-header dark static-sticky" data-sticky-class="not-dark" data-sticky-offset="200">

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <a href="#" class="standard-logo" data-dark-logo="/static/images/planit.png"><img src="/static/images/planit-black.png" alt="planIt"></a>
                        <a href="#" class="retina-logo" data-dark-logo="/static/images/planit.png"><img src="/static/images/planit-black.png" alt="planIt"></a>
                    </div><!-- #logo end -->

                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu">

                        <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
                            <li><a href="#" data-href="#wrapper"><div>Home</div></a></li>
                            <li><a href="#" data-href="#"><div>Plan</div></a></li>
                            <li><a href="#" data-href="#"><div>Join</div></a></li>
                        
                            
                            <li><a href="#" data-href="#"><div>Search</div></a></li>
                        </ul>

                    </nav><!-- #primary-menu end -->

                </div>

            </div>

        </header><!-- #header end -->
{% endblock %}
