<section id="content">

            <div class="content-wrap nopadding">

                

                    <div class="container-fluid clearfix">

                        <div id="section-works" class="page-section notoppadding">

                            <div class="section nomargin">
                                <div class="container clearfix">
                                    <div class="divcenter center" style="max-width: 900px;">

                                        <h2 class="nobottommargin ">A journey is best measured in friends, rather than miles.</h2>
                                        <br/><!-- <h3 class="nobottommargin t300 ls1">Welcome to planIt. A place where you can fulfill your travel dreams and meet amazing people along the way. It helps you create the trip you've always wanted to go on, and allow other interested people to join you, so together you can create memories that can't be replaced.<br/> Ever.</h3> -->
                                       
                                        <h3 class="nobottommargin t300 ls1">The world is full of cities and towns, constantly growing bigger, &amp; so are our traveling lists. It can be hard to check off your list alone, but when we connect &amp; share with others, we become part of something bigger. Imagine a world where people fulfill their dreams &amp; help others,<br/>creating meaningful relationships along the way.<br/><br/><strong>planIt</strong> stands for something bigger than just travel.<br/>We represents all of us, the people,<br/>and focus on 3 things:</h3><br/><br/><h2><strong>people | memories | trust</strong></h2>
                                    </div>
                                </div>
                            </div>
                       

                        
                        <!-- <div class="clear"></div> -->
                        <div id="section-about" class="center page-section notoppadding ">
                            <div class="row center nobottommargin ">
                                <br/><br/><h1>Let's create memories</h1>
                                <p class="lead">Discover trips, or create your own.</p>
                            </div>
                            <br/><br/>
                            <div class="row divcenter hidden-sm hidden-xs" style="max-width: 1000px;">

                                    <div class="row">
                                  <div class="col-xs-12 col-md-4">
                                    <a href="#" class="thumbnail">
                                      <img alt="plan" src="/static/images/features/planit.png" style="height: 100%; width: 100%; display: block;">
                                    </a>
                                    
                                  </div>
                                  <div class="col-xs-12 col-md-4">
                                    <a href="#" class="thumbnail">
                                      <img alt="join" src="/static/images/features/join.png" style="height: 100%px; width: 100%; display: block;">
                                    </a>
                                   
                                  </div>
                                  <div class="col-xs-12 col-md-4">
                                    <a href="#" class="thumbnail">
                                      <img alt="search" src="/static/images/features/search.png" style="height: 100%px; width: 100%; display: block;">
                                    </a>
                                    
                                  </div>
                                  
                                </div>
                            </div>
                            <div class="row divcenter hidden-md hidden-lg" style="max-width: 1000px;">

                                    <div class="row">
                                  <div class="col-xs-12 col-md-4">
                                    <a href="#" class="thumbnail">
                                      <img alt="plan" src="/static/images/features/planit.png" style="height: 75%; width: 75%; display: block;">
                                    </a>
                                    
                                  </div>
                                  <div class="col-xs-12 col-md-4">
                                    <a href="#" class="thumbnail">
                                      <img alt="join" src="/static/images/features/join.png" style="height: 75%px; width: 75%; display: block;">
                                    </a>
                                   
                                  </div>
                                  <div class="col-xs-12 col-md-4">
                                    <a href="#" class="thumbnail">
                                      <img alt="search" src="/static/images/features/search.png" style="height: 75%px; width: 75%; display: block;">
                                    </a>
                                    
                                  </div>
                                  
                                </div>
                            </div>

                    </div>
                    <div class="row">
                        <div class="container center nobottommargin ">
                            <div class="col-md-8 col-md-offset-2">
                            <h1>why planIt</h1>
                            <p class="lead">We travel, initially, to lose ourselves, and we travel, next, to find ourselves. We travel to open our hearts and eyes.<br/>But the happiness that comes with it is only real when shared.<br/><br/><strong>planIt</strong> helps you <strong>create memories and experiences</strong> <br/>you always wished for with people alike.<br/>This not only helps you check off your bucket list but also makes it <strong>more economical by sharing the trip's cost with others</strong>.<br/><br/>We travel, in essence, to become young fools again—to slow time down and get taken in, and fall in love once more. The great affair is to take the first step and move.<br/></p><h2><strong>Explore. Dream. Discover.</strong></h2>
                            </div>
                        </div>
                    </div>
                </div>


                </div>
            </div>

        </section>