<div class="container">
<div class="row center nobottommargin ">
                                <br/><br/><h1>Just for the weekend</h1>
                                <p class="lead" style="margin-top: -25px">Travel to new, inspiring places close to home.</p>
                            </div><br/>

	<div id="portfolio" class="portfolio-3 clearfix">

        <div class="row">
                    <div class="row divcenter hidden-sm hidden-xs" style="max-width: 1000px;">

                                    <div class="row">
                                  <div class="col-xs-12 col-md-4">
                                    <a href="{% url 'trip-ideas' %}" class="thumbnail">
                                      <img alt="plan" src="/static/images/local1.jpg" style="height: 100%; width: 100%; display: block;">
                                    </a>
                       
                                  </div>
                                  <div class="col-xs-12 col-md-4">
                                    <a href="{% url 'trip-ideas' %}" class="thumbnail">
                                      <img alt="join" src="/static/images/local3.jpg" style="height: 100%px; width: 100%; display: block;">
                                    </a>
                                   
                                  </div>
                                  <div class="col-xs-12 col-md-4">
                                    <a href="{% url 'trip-ideas' %}" class="thumbnail">
                                      <img alt="search" src="/static/images/local2.jpg" style="height: 100%px; width: 100%; display: block;">
                                    </a>
                                    
                                  </div>
                                  
                                </div>
                            </div>
                            <div class="row divcenter hidden-md hidden-lg" style="max-width: 1000px;">

                                    <div class="row">
                                  <div class="col-xs-12 col-md-4">
                                    <a href="{% url 'trip-ideas' %}" class="thumbnail">
                                      <img alt="plan" src="/static/images/local1.jpg" style="height: 75%; width: 75%; display: block;">
                                    </a>
                                    
                                  </div>
                                  <div class="col-xs-12 col-md-4">
                                    <a href="{% url 'trip-ideas' %}" class="thumbnail">
                                      <img alt="join" src="/static/images/local3.jpg" style="height: 75%px; width: 75%; display: block;">
                                    </a>
                                   
                                  </div>
                                  <div class="col-xs-12 col-md-4">
                                    <a href="{% url 'trip-ideas' %}" class="thumbnail">
                                      <img alt="search" src="/static/images/local2.jpg" style="height: 75%px; width: 75%; display: block;">
                                    </a>
                                    
                                  </div>
                                  
                                </div>
                            </div>

        </div>
    </div><br/><br/>
    <div class="row center">
    	<a href="{% url 'trip-ideas' %}"><button type="submit" class="button button-large button-border button-rounded">see all destinations</button></a>
    </div>
</div><br/><br/>