{% extends 'base.html' %}

{% block main-container %}
<div class="container">

	<h2>SAFETY</h2>
	<h4>The safety of our users is very important to us. There are steps that everyone can follow to ensure their safety while using planIt. Please take a few minutes to read these tips.</h4>

	<h3>Keep your financial information private</h3>
	<p class="lead">Ignore any request to send money – even if the person claims to be in an emergency – and report it to us immediately. Never give out financial information such as you social security number, credit card number or bank information.</p>

	<h3>Keep your personal information</h3>
	<p class="lead">You are in control of your planIt experience at all times. Be careful about sharing personal information, such as your full name, phone number, email and address. Protect your identity until you are comfortable enough with someone to share it. Also, leave any personal contact information out of your planIt profile.<br/>Note: planIt will never send you an email asking for your username and password information. Any such communication should be reported immediately.</p>

	<h3>Spam/Scammers There are red flags to watch out for that may indicate you're dealing with a scammer. Be aware of anyone who:</h3>
	<p class="lead">•	Sends you messages containing links to third-party websites<br/>•	Asks you for money<br/>•	Vanishes mysteriously then reappears under a different name<br/>•	Asks for your address under the guise of sending flowers or gifts</p>

	<h3>Report suspicious users. Please report anyone who violates our terms of use. Examples of terms of use violations include:</h3>
	<p class="lead">•	Asking you for money or donations<br/>•	Anyone that looks like they could be from outside TCU<br/>•	Users sending harassing or offensive messages<br/>•	Users behaving inappropriately after meeting in person<br/>•	Fraudulent profiles<br/>•	Spam or solicitation, such as attempts to sell products or services</p>

	<h3>Meeting In Person</h3>
	<p class="lead">Meetings are always exciting, but always take precautions and follow these guidelines to help you stay safe:<br/><strong>Go over person’s Facebook Profile and Mutual Friends</strong><br/>Always go over person’s Facebook profile and mutual friends you might have with that person. We don't conduct criminal background checks on our users, so it’s up to you to do your own research and remain cautious.<br/><strong>Always meet in public</strong><br/>Meet for the first time in a populated, public place – never in a private or remote location.<br/><strong>Tell a friend. Inform a friend or family member of your plans.</strong><br/>Tell them who you are meeting, where you are going on a trip and when you will return. Bring your phone with you.</p>

	<h3>Following these guidelines will help keep planIt safe and enjoyable.</h3>

</div>

{% endblock %}