<p>
Welcome, {{ username }}!<br/><br/>

Thanks for joining our planIt family! Creating an account brings you one step closer to this journey of dreaming, discovering and exploring. <br/><br/>

Now that you have successfully created an account, here are few tips to get you started:<br/><br/>

1.  <a href="http://yallplanit.com/getting-around/">Getting Started Guide</a><br/>
2.	<a href="http://yallplanit.com/trip-ideas/">Trip Ideas - Get Inspired!</a><br/>
3.	<a href="http://yallplanit.com/trips/plan.html">Create a trip</a><br/>
4.	<a href="http://yallplanit.com/trips/all.html">Join a trip</a><br/><br/>

Also, please take time to look at our <a href="http://yallplanit.com/safety-tips/">Safety Tips</a>. <br/><br/>

We travel, in essence, to become young fools again—to slow time down and get taken in, and fall in love once more. The great affair is to take the first step and move.<br/><br/>

Dream. Discover. Explore.<br/><br/>

planIt team
</p>