{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap %}

{% block main-container %}

<div class="page-header">
    <h1>{% trans page_title %}</h1>
    <h3>{% trans page_subtitle %}</h3>
</div>
<div class="form-view">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <form id="mbform" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ page_form|bootstrap }}
                <button class="btn btn-block" type="submit">{% trans page_submit %}</button>
            </form>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
            &nbsp;
        </div>
    </div>
</div>
{% endblock %}



